.carousel {
  padding: 80px 0;
  &__inner {
    position: relative;
    width: 700px;
    margin: 0px auto;
    object-position: center;
    img {
      max-height: 350px;
      margin: 0px auto;
    }
  }
  .slick-next,
  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -67px;
    border: none;
    background-color: $white-color;
    img {
      width: 31px;
      height: 50px;
    }
  }
  .slick-prev {
    left: -67px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      margin: 5px 35px;
    }
    .slick-active {
      color: $main-color;
    }
    button {
      display: none;
    }
  }
}
