.catalog {
  min-height: 900px;
  padding-bottom: 99px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__tab {
    width: 222px;
    height: 52px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    box-sizing: border-box;
    transform: skewX(-25deg);
    margin: 0 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #6b6b6b;
    cursor: pointer;
    transition: 1.1s all;
    &:hover {
      box-shadow: 5px 7px 10px $main-color;
      border-color: $main-color;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      border-color: $main-color;
      background: $main-color;
      color: $white-color;
      cursor: default;
      &:hover {
        box-shadow: none;
      }
    }
  }

  &__content {
    margin-top: 57px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    &_active {
      display: flex;
    }
  }

  &-item {
    padding: 20px;
    width: 300px;
    min-height: 450px;
    border: 2px solid #e8e8e8;
    background: $white-color;
    // overflow: hidden;
/////////////////////////////////////////////////////////////////
    &__wrap {
      display: flex;
      width: calc(200% + 50px);
    }
    //  1
    &__content {
      width: 50%;
      margin-right: 0;
      transform: translateX(-100%);
      transition: 1.1s all;
      &_active {
        transform: translateX(0);
        margin-right: 25px;
      }
    }
    //  2
    &__ulist {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      padding-right: 20px;
      margin-left: 25px;
      transform: translateX(0);
      transition: 1.1s all;
      &_active {
        transform: translateX(-100%);
        margin-left: 0px;
      }
      ul {
        list-style-type: square;
        color: $main-color;
        padding-left: 20px;
        li {
          margin-bottom: 15px;
          span {
            font-weight: 300;
            font-size: 14px;
            line-height: 21px;
            color: #555555;
            margin-bottom: 20px;
          }
        }
      }
    }
    &__back {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: $main-color;
      margin-top: 8px;
      &:hover {
        color: $main-color;
      }
    }

    // styles
    &__img {
      display: block;
      margin: 0 auto;

      max-width: 100%;
      height: 200px;
    }
    &__subtitle {
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      color: $font-color;
      margin-top: 15px;
    }
    &__desr {
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: $font-color;
      margin-top: 15px;
    }
    &__link {
      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      text-transform: uppercase;
      color: $main-color;
      margin-top: 8px;
      display: block;
      &:hover {
        color: $main-color;
      }
    }
    hr {
      width: 257px;
      height: 1px;
      background: #575757;
      display: block;
      margin: 0 auto;
      margin-top: 17px;
      margin-bottom: 17px;
    }
    &__footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__price-old {
      font-weight: 300;
      font-size: 14px;
      text-decoration: line-through;
      color: #555555;
    }
    &__price-new {
      font-weight: 700;
      font-size: 20px;
      color: #050505;
    }
  }
}
