.feed-form {
  width: 300px;
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  input {
    height: 50px;
    border-radius: 8px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #4b4b4b;
    padding: 0px 18px;
    background-color: $white-color;
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
  &_mt25 {
    margin-top: 25px;
  }
}

//992px-1200px
@media (max-width: 1200px) {
}

//768px-991px
@media (max-width: 991px) {
}

//576px-767px
@media (max-width: 767px) {
  .feed-form {
    margin: 0 auto;
    margin-top: 38px;
  }
}

//320px-575px
@media (max-width: 575px) {
}
