//992px-1200px
@media (max-width: 1200px) {
  .catalog {
    &-item {
      &__price-old {
        font-size: 12px;
      }
      &__price-new {
        font-size: 18px;
      }
    }
  }
}

//768px-991px
@media (max-width: 991px) {
  .container {
    max-width: 768px;
  }
  .promo {
    padding-left: 35px;
    padding-right: 35px;
  }
  .consult {
    padding-left: 35px;
    padding-right: 35px;
  }
  .advantages {
    padding-left: 35px;
    padding-right: 35px;
  }
  .catalog {
    padding-left: 35px;
    padding-right: 35px;
    &__content {
      justify-content: space-around;
    }
  }
  .feedback {
    padding-left: 35px;
    padding-right: 35px;
    &-element {
      &__img {
        width: 120px;
        height: 120px;
      }
      &__article {
        width: 530px;
      }
    }
  }
}

//576px-767px
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
  .header {
    &__official {
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 18px;
      span {
        font-size: 22px;
      }
    }
    &__contact {
      align-items: center;
    }
    &__telephone {
      font-size: 22px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .promo {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    &__wrapper {
      align-items: center;
    }
    &__header {
      font-size: 28px;
    }
    &__subheader {
      display: none;
    }
    &__icons {
      margin-top: 25px;
      margin-bottom: 50px;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    &__icon {
      width: 165px;
      font-size: 22px;
    }
    &__link {
      font-size: 22px;
      a {
        font-size: 22px;
      }
    }
  }

  .consult {
    padding-left: 15px;
    padding-right: 15px;
    &__description {
      font-size: 20px;
      line-height: 22px;
      text-align: center;
    }
  }

  .advantages {
    padding-left: 15px;
    padding-right: 15px;
    &__wrapper {
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      max-width: 500px;
      margin-bottom: 30px;
    }

    &__subtitle {
      margin-top: 15px;
    }

    &__description {
      font-size: 18px;
      margin-top: 15px;
    }
  }

  .carousel {
    padding-left: 15px;
    padding-right: 15px;
    &__inner {
      width: 100%;
      img {
        max-height: 250px;
        margin: 0px auto;
      }
    }
  }

  .catalog {
    padding-left: 15px;
    padding-right: 15px;
    &__tabs {
      margin-top: 25px;
    }
    &__tab {
      &:hover {
        box-shadow: none;
        border-color: #6b6b6b;
      }
      &_active {
        &:hover {
          box-shadow: none;
        }
      }
    }
    &__content {
      justify-content: space-around;
    }
  }

  .feedback {
    padding-left: 15px;
    padding-right: 15px;
    &__wrapper {
      margin-top: 25px;
    }
    &-element {
      &__article {
        width: 397px;
      }
    }
  }
}
//320px-575px
// @media (max-width: 575px) {
// }
