.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f2f2f2;
  padding: 35px 25px 40px 25px;
  width: 350px;
  min-height: 450px;
  &__close {
    position: absolute;
    transform: scale(3);
    width: 21px;
    height: 21px;
    top: -5px;
    right: -47px;
    color: $main-color;
    cursor: pointer;
  }
  &__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    color: $font-color;
    text-align: center;
  }
  &__descr {
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: $font-color;
    text-align: center;

    margin-top: 10px;
    &_lh22 {
      line-height: 22px;
    }
  }
  &_mini {
    min-height: 145px;
  }
}

#consultation, #thanks, #ord {
  display: none;
}
