.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url(../../img/main.jpg); //center (center/cover) no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 91px;
  }
  &__header {
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    color: #ffffff;
  }
  &__subheader {
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 17px;
  }
  &__icons {
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    margin-top: 55px;
    width: 424px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__icon {
    width: 114px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    img {
      display: block;
      margin: 0px auto;
      margin-bottom: 17px;
    }
  }
  &__link {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    a {
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
